<template>
  <div id="text">
    <p>{{ contents }}</p>
  </div>
</template>

<script>
export default {
  name: "Content",
  props: ["contents"]
};
</script>

<style scoped>
  #text {
    background-color: rgb(103, 189, 223);
    height: 285px;
    padding-top: 20px;
  }
</style>
