<template>
  <div class="content-creator">
    <label for="mainNav"></label>
    <select name="mainNav" id="mainNav">
        <option v-for="item in main" value="item.content.main.declaration" v-bind:key="item._id">
            {{ item.content.main.declaration }}
        </option>
    </select>

    <label for="subNav"></label>
    <input type="text" v-model="sub" name="subNav" id="subNav" placeholder="Neuer Unterpunkt...">

    <label for="content"></label>
    <input type="text" v-model="text" name="content" id="content" placeholder="Inhalt des Unterpunkts...">

    <button @click="create()">Senden</button>
  </div>
</template>

<script>
import DbService from '../DbService.js';

export default {
  name: 'Creator',
  props: ['main'],
  data() {
    return {
      sub: "",
      text: ""
    }
  }, 
  methods: {
    create() {
      return true;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
