<template>
  <div id="main-navigation">
    <button
      v-for="item in items"
      v-bind:item="item"
      v-bind:key="item.id"
      @click="$emit('changeRoute', item.content.main.declaration)"
    >{{ item.content.main.declaration }}</button>
  </div>
</template>

<script>
export default {
  name: "MainNavigation",
  props: ['items']
};
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #main-navigation {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(160, 43, 43);
    padding-bottom: 30px;
    width: 100%;
    align-items: center;
  }

  #main-navigation button {
    width: 100px;
    height: 30px;
    border: rgb(193, 189, 223) solid 3px;
    border-radius: 8px;
    background-color: blanchedalmond;
  }

  #main-navigation button:hover {
    background-color: #c9b899;
  }
</style>
