<template>
  <div id="sub-navigation">
    <div id="buttons">
      <button
        v-for="item in items.sideNav"
        v-bind:item="item"
        v-bind:key="item.id"
        @click="
            $emit(
              'load-content',
              item.declaration,
              item.id
            )
          "
      >{{ item.declaration }}</button>
    </div>

    <div id="editor">
      <label for="subNav"></label>
      <input type="text" v-model="sub" name="subNav" id="subNav" placeholder="Neuer Unterpunkt..." />

      <label for="content"></label>
      <textarea
        type="text"
        v-model="text"
        name="content"
        id="content"
        placeholder="Inhalt des Unterpunkts..."
      />

      <button @click="create(); $emit('reload-content')">Senden</button>
    </div>
  </div>
</template>

<script>
import DbService from '../DbService.js';

export default {
  name: "SubNavigation",
  props: ["items", "id"],
  data() {
    return {
      text: "",
      sub: ""
    };
  },
  methods: {
    async create() {
      await DbService.createContent(
        this.id,
        this.items.sideNav.length + 1,
        this.sub,
        this.sub,
        this.text
      );
      this.text = "";
      this.sub = "";
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #sub-navigation {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  #buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 300px;
  }

  #buttons button {
    width: 100px;
    height: 30px;
    border: rgb(193, 189, 223) solid 3px;
    border-radius: 8px;
    background-color: blanchedalmond;
  }

  #buttons button:hover {
    background-color: #c9b899;
  }

  #editor {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 300px;
  }

  #editor button {
    width: 100px;
    height: 30px;
    border: rgb(193, 189, 223) solid 3px;
    border-radius: 8px;
    background-color: blanchedalmond;
  }

  #editor button:hover {
    background-color: #c9b899;
  }

  textarea {
    height: 100px;
  }
</style>
