.App {
  font-family: sans-serif;
  text-align: center;
}

.card {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  width: 350px;
  padding: 10px;
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
}

input {
  display: block;
  margin-bottom: 10px;
}
