<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue-Counter</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
<div id="c">
    <counter></counter>
    <counter></counter>
</div>
</body>
</html>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
    Vue.component('counter', {
        template: '<div><p>{{count}}</p><p>{{click}}</p><button @click="inc">Inc</button>' +
            '<button @click="dec">Dec</button></buttom></div>',
        data: function() {
            return {
                count: 0,
                click: 0
            }
        },
        methods: {
            inc: function() {
                this.count++;
                this.click++;
            },
            dec: function() {
                this.count--;
                this.click++;
            }
        }
    });

    new Vue({
        el: '#c'
    })
</script>
<style>
    * {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
</style>