<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue-Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
<div id="menu">
    <menu-component horizontal="true"></menu-component>
    <menu-component></menu-component>
</div>
</body>
</html>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
    Vue.component('menu-component', {
        props: ['horizontal'],
        template: '<div v-if=horizontal><button v-for="button in buttons" @click="doSomething(button.title)">{{button.title}}</button></div>' +
            '<div v-else style="display:flex;flex-direction: column"><button v-for="button in buttons" @click="doSomething(button.title)">{{button.title}}</button></div>',
        data: function() {
            return {
                buttons : [
                    {id: 1, title: 'Home'},
                    {id: 2, title: 'About'},
                    {id: 3, title: 'Contact Us'},
                ],
            }
        },
        methods: {
            doSomething: function(arg) {
                console.log(arg);
            }
        }
    });

    new Vue({
        el: '#menu'
    })
</script>
<style>
    * {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
</style>