<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
<div id="app">
    <main-nav v-bind:nav="sharedState"></main-nav>
</div>
</body>

</html>
<script src="https://unpkg.com/vue"></script>
<script>
    Vue.component('main-nav', {
        template: `<div id="container">
            <div id="header">
                <h1>WWW-Navigator</h1>
            </div>
            <div id="mainnav">
                <button
                v-for="main in Object.keys(nav)"
                v-bind:item="main"
                @click="loadSubMenu(main)"
                >{{main}}
                </button>
            </div>
            <sub-nav v-bind:subnav="sub"></sub-nav>
        </div>`,
        data: function () {
            return {
                sub: {},
            }
        },
        methods: {
            loadSubMenu: function (button) {
                this.sub = this.nav[button];
            }
        },
        mounted() {
            this.$el.querySelector('#mainnav').querySelector('button').click();
        },
        props: ['nav']
    });

    Vue.component('sub-nav', {
        template: `<div id="container2">
                    <div id="subnav">
                        <button v-for="sub in Object.keys(subnav)"
                        v-bind:item="sub"
                        @click="loadContent(sub)"
                        >{{sub}}
                        </button>
                    </div>
                    <contents v-bind:text="inhalt"></contents>
                </div>`,
        data: function () {
            return {
                inhalt: ""
            }
        },
        methods: {
            loadContent: function (arg) {
                this.inhalt = this.subnav[arg];
            }
        },
        mounted() {
            this.$el.querySelector('#subnav').querySelector('button').click();
        },
        props: ["subnav"]
    });

    Vue.component('contents', {
        template: `<div id="container3">
                        <div id="content">
                            <p>{{ text }}</p>
                        </div>
                        <div id="source">
                            <p>https://www.w3schools.com/</p>
                        </div>
                    </div>
                    `,
        props: ["text"]
    });

    var store = {
        debug: true,
        state: {
            HTML: {
                _doc: "HTML is the standard markup language for creating Web pages.",
                headings: "HTML headings are titles or subtitles that you want to display on a webpage. HTML headings are defined with the <h1> to <h6> tags. <h1> defines the most important heading. <h6> defines the least important heading.",
                paragraphs: "A paragraph always starts on a new line, and is usually a block of text. The HTML <p> element defines a paragraph. A paragraph always starts on a new line, and browsers automatically add some white space (a margin) before and after a paragraph.",
                links: "Links are found in nearly all web pages. Links allow users to click their way from page to page. HTML links are hyperlinks. You can click on a link and jump to another document. When you move the mouse over a link, the mouse arrow will turn into a little hand.",
                images: "Images can improve the design and the appearance of a web page. The HTML <img> tag is used to embed an image in a web page. Images are not technically inserted into a web page; images are linked to web pages. The <img> tag creates a holding space for the referenced image. The <img> tag is empty, it contains attributes only, and does not have a closing tag.",
                tables: "HTML tables allow web developers to arrange data into rows and columns. The <table> tag defines an HTML table. Each table row is defined with a <tr> tag. Each table header is defined with a <th> tag. Each table data/cell is defined with a <td> tag. By default, the text in <th> elements are bold and centered. By default, the text in <td> elements are regular and left-aligned."
            },
            CSS: {
                _doc: "CSS is a language that describes the style of an HTML document. CSS describes how HTML elements should be displayed.",
                selectors: "CSS selectors are used to find (or select) the HTML elements you want to style. The element selector selects HTML elements based on the element name.",
                colors: "Colors are specified using predefined color names, or RGB, HEX, HSL, RGBA, HSLA values.",
                boxes: "All HTML elements can be considered as boxes. In CSS, the term box model is used when talking about design and layout. The CSS box model is essentially a box that wraps around every HTML element. It consists of: margins, borders, padding, and the actual content.",
                display: "The display property is the most important CSS property for controlling layout. The display property specifies if/how an element is displayed. Every HTML element has a default display value depending on what type of element it is. The default display value for most elements is block or inline.",
                float: "The CSS float property specifies how an element should float. The CSS clear property specifies what elements can float beside the cleared element and on which side."
            },
            JavaScript: {
                _doc: "JavaScript is the programming language of HTML and the Web. JavaScript is easy to learn.",
                functions: "A JavaScript function is a block of code designed to perform a particular task. A JavaScript function is executed when something invokes it (calls it). A JavaScript function is defined with the function keyword, followed by a name, followed by parentheses (). Function names can contain letters, digits, underscores, and dollar signs (same rules as variables). The parentheses may include parameter names separated by commas: (parameter1, parameter2, ...) The code to be executed, by the function, is placed inside curly brackets: {}" ,
                object: "Objects are variables too. But objects can contain many values.",
                scope: "Scope determines the accessibility (visibility) of variables. JavaScript has function scope: Each function creates a new scope. Scope determines the accessibility (visibility) of these variables. Variables defined inside a function are not accessible (visible) from outside the function.",
                events: "HTML events are things that happen to HTML elements. When JavaScript is used in HTML pages, JavaScript can react on these events.",
                hoisting: "Hoisting is JavaScript's default behavior of moving declarations to the top."
            }
        }
    };

    new Vue({
        el: '#app',
        data: {
            privateState: {},
            sharedState: store.state
        }
    });

    document.getElementById("mainnav").querySelector("button").click;

</script>
<style>
    * {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        background-color: rgb(160, 43, 43);
        font-size: larger;
    }

    #header {
        text-align: center;
        background-color: rgb(160, 43, 43);
        padding-bottom: 5px;
        color: white;
    }

    #mainnav {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        background-color: rgb(160, 43, 43);
        padding-bottom: 30px;
        width: 100%;
    }

    #mainnav button {
        width: 150px;
        height: 50px;
        border:rgb(103, 189, 223) solid 3px;
        border-radius: 8px;
        background-color: blanchedalmond;
    }

    #mainnav button:hover {
        background-color: #C9B899;
    }

    #container2 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        height: 300px;
    }

    #subnav {
        width: 20%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(126, 55, 55);
    }

    #subnav button {
        width: 150px;
        /*margin: 10px;*/
        border:rgb(103, 189, 223) solid 3px;
        border-radius: 8px;
        background-color: blanchedalmond;
    }

    #subnav button:hover {
        background-color: #C9B899;
    }

    #container3 {
        width: 80%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
    }

    #content {
        display: flex;
        text-align: center;
        background-color: rgb(103, 189, 223);
        width: 70%;
    }

    #content p {
        margin-left: 10px;
    }

    #source {
        background-color: rgb(126, 55, 55);
        color: white;
        width: 30%;
    }

    #source p {
        margin-left: 10px;
    }
</style>
