<template>
  <div id="app">
    <h1 id="header">WWW-Navigator</h1>
    <main-navigation v-bind:items="mainMenu" v-on:changeRoute="changeMainRoute"></main-navigation>
    <div id="container">
      <div id="sub">
        <sub-navigation
          v-bind:items="subMenu"
          v-bind:id="id"
          v-on:load-content="loadSideContent"
          v-on:reload-content="reloadContent"
        ></sub-navigation>
      </div>
      <div id="contents">
        <Content v-bind:contents="content"></Content>
      </div>
    </div>
    <!--<Creator v-bind:main="mainMenu" v-bind:sub="subMenu"></Creator>-->
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import Content from "./components/Content.vue";
import MainNavigation from "./components/MainNavigation.vue";
import SubNavigation from "./components/SubNavigation.vue";
import Creator from "./components/Creator.vue";

import DbService from "./DbService.js";

export default {
  name: "App",
  components: {
    Content,
    MainNavigation,
    SubNavigation
  },
  data() {
    return {
      mainMenu: [],
      subMenu: [],
      content: "",
      id: ""
    };
  },
  async created() {
    try {
      this.mainMenu = await DbService.getContent();
      this.subMenu = this.mainMenu[0].content;
      this.id = this.mainMenu[0]._id;
      this.content = this.subMenu.main.content;
    } catch (err) {
      this.error = err.message;
    }
  },
  methods: {
    changeMainRoute(route) {
      var help = this.mainMenu.filter(
        item => item.content.main.declaration === route
      );
      this.subMenu = help[0].content;
      this.id = help[0]._id;
      this.content = this.mainMenu.filter(
        item => item.content.main.declaration === route
      );
      this.content = this.content[0].content.main.content;
    },
    loadSideContent(declaration, id) {
      this.content = this.subMenu.sideNav.filter(
        item => item.declaration === declaration
      );
      this.content = this.content[0].content;
    },
    reloadContent() {
      window.location.reload();
    }
  }
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  background-color: rgb(160, 43, 43);
  height: 100vh;
}

#header {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
  background-color: rgb(160, 43, 43);
}

#container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  height: 300px;
}

#contents {
  width: 70%;
  height: 250px;
}

#sub {
  width: 30%;
  height: 305px;
  background-color: rgb(126, 55, 55);
}
</style>
